/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */




.scoreboard{
  width:300px;
  height:100px;
  background-color:#ccc;
  float:right;
}

.high{}

.current{}

.collisions{}

.gameBoard{
  background-color:#666;
  height:900px;
  width:900px;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.player {
  -webkit-transform-origin:50% 50%; /* AWESOME SAUCE */
  -webkit-animation:spin 0.5s linear infinite;
}
